body {
  margin: 0;
  padding: 0;
  font-family: "Calibre", sans-serif;
  text-align: center;
  background-color: rgb(35, 14, 45);
  color: white;
}

.App h3 {
  margin-top: 100px;
  color: red;
}

h3 {
  color: red;
}

#searchMovieInput {
  margin-left: 200px;
}

form {
  margin-top: 100px;
}

.appTitle {
  font-size: 5em;
  margin-top: 150px;
}